@black: #000000;
@white: #ffffff;
@blue: #000050;


li, li a{
	font-size: 15pt;
	color: @black
}

h1, h1 a{
    color: @white;
    font-size: 36pt;
	font-family: 'Lobster', cursive;
}

h2, h2 a{
    color: @black;
    font-size: 19pt;
}

h3, h4, h5, h6, h3 a, h4 a, h5 a, h6 a{
	color: @black;
	font-size: 15pt;
}

.page-header {
    background-color: @blue;
    margin-top: 0;
	margin-bottom: 0;
    padding: 1px 10px 10px 550px;
}


.page-content {
	margin-top: 90px; 
    margin-left: 490px;
	margin-right: 490px;
}

.post-form textarea, .post-form input{
    width: 100%;
}

.save{
	float: right;
}

.background {
	margin-top: 0;
	padding: 10px 10px 1000px 10px;
}
